html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 400px;
  height: 600px;
  border: 1px solid black;
  margin: 30px auto 0 auto;
}

.wrapper {
  display: grid;
  height: 600px;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr;
  gap: 1px;
}

.inputArea {
  background: #363e45;
  grid-column: 1/2;
  display: block;
  text-align: right;
  color: white;
  font-size: 30px;
  /* margin-top: 20px; */
  padding: 20px 30px 20px 35px;
  
}

.buttons {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5,1fr);
  gap: 1px;
}

.btnr1 {
  background: #23272a;
  text-align: center;
  color: white;
  border: none;
  font-size: 2.5em;
}

.btnr2 {
  background: #141921;
  text-align: center;
  color: white;
  border: none;
  font-size: 2.5em;
}